* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 12px;
    background: #8566ff;
    color: black;
}

header {
    font-size: 32px;
    margin: 32px;
    text-align: center;
    color: white;
    text-shadow: 0px 10px 10px #4f3ba0;
}

button {
    cursor: pointer;
}

i {
    pointer-events: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#activity-input, #activity-button, #rename-form input, #rename-form button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    -webkit-appearance: none;

    border: 2px solid black;
    outline: none;
}
    
#activity-input {
    padding-left: 20px;
    padding-right: 0;
    border-style: solid none solid solid;
    border-radius: 25px 0 0 25px;
    width: 40%;
}

#activity-button {
    padding-right: 15px;
    border-style: solid solid solid none;
    border-radius: 0 25px 25px 0;
    background: white;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

#activity-button:hover {
    color: rgb(66, 66, 66);
}

#activity-container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

#activity-title {
    text-align: center;
}

#activity-list {
    list-style: none;
    text-align: center;
    width: 100%;
}

.activity {
    display: flex;
    align-items: center;
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px auto;
    padding: 10px;
    width: 40%;
    font-size: 20px;
}

.activity-name {
    display: flex;
    flex: 1;
    word-break: break-all;
}

.activity-name li {
    flex: 1;
}

.timer {
    flex: 0.5;
}
.activity button {
    background: none;
    color: black;
    border: none;
    flex: 0.25;
    font-size: 20px;
    transition: 0.3s ease;
}

.activity button:hover {
    color: rgb(66, 66, 66);
}

.overlay{
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rename-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(132, 102, 253, 0.9);
    border: 2px solid black;
    border-radius: 25px;
    width: 50%;
    height: 30%;
    margin: auto auto;
    padding: 10px;
}

#rename-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#rename-text-container h2 {
    font-size: 36px;
}

#rename-text-container h3 {
    font-size: 24px;
}

#rename-form {
    width: 100%;
    flex: 1;
}

#rename-form input, #rename-form button {
    font-size: 16px;
}

#rename-form input {
    padding-left: 15px;
    padding-right: 0;
    border-style: solid none solid solid;
    border-radius: 25px 0 0 25px;
    width: 50%;
}

#rename-form button {
    padding-right: 15px;
    border-style: solid solid solid none;
    border-radius: 0 25px 25px 0;
    background: white;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}