* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 12px;
    background: white;
    color: black;
}

header {
    font-size: 32px;
    margin: 32px;
    text-align: center;
}


button {
    cursor: pointer;
}

i {
    pointer-events: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 10px;
    font-size: 25px;
    -webkit-appearance: none;

    border: 2px solid black;
    outline: none;
}
    
form input {
    padding-left: 15px;
    padding-right: 0;
    border-style: solid none solid solid;
    border-radius: 25px 0 0 25px;
    width: 40%;
}

form button {
    padding-right: 15px;
    border-style: solid solid solid none;
    border-radius: 0 25px 25px 0;
    background: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.activity-container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.activity-title {
    text-align: center;
}

.activity-list {
    list-style: none;
    text-align: center;
    width: 100%;
}

.activity {
    display: flex;
    align-items: center;
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px auto;
    padding: 10px;
    width: 40%;
    font-size: 20px;
}

.activity li {
    flex: 1;
    word-break: break-all;
}

.timer {
    flex: 1;
}
.activity button {
    background: none;
    color: black;
    border: none;
    flex: 0.35;
    font-size: 20px;
}